@font-face { font-family: CerebriSans; font-weight: bold;src: url('./../../public/fonts/CerebriSans/CerebriSans-Bold.otf');}
@font-face { font-family: CerebriSans; src: url('./../../public/fonts/CerebriSans/CerebriSans-Regular.otf');}
@font-face { font-family: Butler; font-weight: bold;src: url('./../../public/fonts/Butler/Butler_Bold.otf');}
@font-face { font-family: Butler; src: url('./../../public/fonts/Butler/Butler_Regular.otf');} 

body {
    margin: 0 auto;
    font-family: CerebriSans;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

.mainView {
    height: 100vh;
    background-size: cover;
    background-color: white;
    button {
        border-style: none;
        padding: 15px 40px;
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 50px;
        cursor: pointer;
        transition: .1s all ease-in;
    }
    h1 {
        margin-bottom: 0px;
        font-size: 150px;
        font-family: Butler;
    }
    h2 {
        font-size: 20px;
        font-weight: lighter;
        margin: 0;
    }

    h1, h2 {
        letter-spacing: 2px;
        color: #fff;
    }
    .innerCircle {
        border-bottom-right-radius: 90%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(to right, rgba(73, 210, 255, 0.75), rgba(43,50,178,0.75)), url('../assets/background.jpeg');
        position: relative;
    }

    .headerContentWrapper {
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttonWrapper {
        position: absolute;
        top: 50px;
        right: 100px;
    }

    .createAccountButton {
        background-color: white;
        color: black;
        margin-right: 20px;
        &:hover {
            color: white;
            background-color: rgb(73, 210, 255);
        }
    }

    .loginButton {
        background-color: white;
        color: black;
        &:hover {
            color: white;
            background-color: rgb(73, 210, 255);
        }
    }

    h3 {
        color: white;
        padding-top: 50px;
        font-size: 25px;
    }
}

.sideBar {
    position: fixed;
    z-index: 10;
    width: 30%;
    right: 100%;
    top: 0;
    padding: 25px;
    padding-top: 50px;
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
}

.addCard__title {
    font-size: 30px;
    text-align: center; 
}

.slide-in {
    position: fixed;
    transform: translateX(100%);
    transition-delay: .1s;
    transition: 0.6s ease-in all;
}

.slide-out {
    position: fixed;
    transition-delay: .1s;
    transform: translateX(-100%);
    transition: 0.6s ease-in all;
}

.addCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    .createCloseButton {
        font-size: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: rgb(73, 210, 255);
        font-weight: bold;
        color: white;

        &:hover {
        cursor: pointer;
        background-color: rgb(73, 155, 255);
        }
    }
    .addCard__inputsButton {
        margin: 40px 0;
        font-size: 20px;
        color: white;
        background-color: rgb(73, 210, 255);
        height: 50px;
        border: none;
        border-radius: 50px;
        width: 250px;
            &:hover{
                cursor: pointer;
                background-color: rgb(73, 155, 255);
            }
    }
    p {
        letter-spacing: 1px;
        font-size: 18px;
    }
}

.iconAdjust {
    transform: translateY(-2px);
    margin-right: 20px;
}

.addIcon {
    font-size: 50px;
}

.viewIcon {
    font-size: 50px;
}

.deleteIcon {
    font-size: 25px;
}

.editIcon {
    font-size: 25px;
}

.deleteText {
    position: absolute;
    font-size: 15px;
    bottom: -30px;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

.editText {
    position: absolute;
    font-size: 15px;
    bottom: -30px;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

.addCard__titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.addCard__title {

}

.addCard__description {
    width: 95%;
}

.addCard__form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.addCard__inputs {
    width: 80%;
    margin: 10px 0;
    border: none;
    font-size: 14px;
    padding: 10px;
    background-color: transparent;
    color: black;
    border-bottom: 0.5px solid black;
    box-shadow: none;
}

button.addCard__inputs {
    padding: 10px 0;
    width: 50%;
}

.formatCard__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.formatCard__scrollThrough {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    color: black;
    white-space: nowrap;
    padding-top: 200px;
    padding-left: calc(50% - 290px);
    flex-direction: row;
    overflow-y: hidden;
}

.react-card-flipper {
    width: 700px;
}

.react-card-flip {
    min-height: 500px;
}

.cardWrapper{
    position: relative;
    margin: 0 80px;
}

.card {
    background-color: white;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 0 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    ul {
        display: flex;
        flex-direction: column;
        li {
            list-style: none;
            letter-spacing: 1px;
            font-weight: bold;
            button {
                border-style: none;
                padding: 10px 25px;
                cursor: pointer;
                &:hover {
                    background-color: rgba(73, 210, 255, 0.75);
                    color: white;
                }
            }
        }
    }

    .card__name {
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 2px;
        word-spacing: 5px;
        font-size: 18px;
    }

    .card__notes {
        white-space: normal;
        word-break: break-all;
    }


}


.gradientLine {
    background-image: linear-gradient(to bottom, rgba(73, 210, 255, 0.75), rgba(43,50,178,0.75));
    height: 100%;
    width: 10px;
    position: absolute;
    left: 0;
}

.circleInitial {
    background-image: linear-gradient(to bottom, rgba(73, 210, 255, 0.75), rgba(43,50,178,0.75));
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: white;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    .initial {
        padding: 0;
        margin: 0;
    }
}

.goBack {
    position: absolute;
    display: flex;
    justify-content: center;
    min-height: 55px;
    bottom: -80px;
    left: 15%;
    background-color: rgb(210, 210, 210);
    transform: translateX(-50%);
        &:hover {
            background-color: rgba(73, 210, 255, 0.75);
            color: white;
        }
        &:hover p{
            color: black;
            visibility: visible;
        }
}

.notesButton {
    position: absolute;
    min-height: 55px;
    display: flex;
    justify-content: center;
    bottom: -80px;
    left: 15%;
    background-color: rgb(210, 210, 210);
    transform: translateX(-50%);
        &:hover {
            background-color: rgba(73, 210, 255, 0.75);
            color: white;
        }
        &:hover p{
            color: black;
            visibility: visible;
        }
}


.deleteButton {
    position: absolute;
    min-height: 55px;
    display: flex;
    justify-content: center;
    bottom: -80px;
    left: 50%;
    background-color: rgb(210, 210, 210);
    transform: translateX(-50%);
        &:hover {
            background-color: rgba(73, 210, 255, 0.75);
            color: white;
        }
        &:hover p{
            color: black;
            visibility: visible;
        }
}

.editButton {
    position: absolute;
    min-height: 55px;
    bottom: -80px;
    display: flex;
    justify-content: center;
    left: 85%;
    background-color: rgb(210, 210, 210);
    transform: translateX(-50%);
        &:hover {
            background-color: rgba(73, 210, 255, 0.75);
            color: white;
        }
        &:hover p{
            color: black;
            visibility: visible;
        }
}

.search__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 100px;
    align-items: center;
}

.search__innerWrapper {
    position: relative;
    width: 300px;
}

.searchIcon {
    font-size: 30px;
    position: absolute;
    right: 0px;
    top: 20px;
    color: white;
}

#searchBar {
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding: 15px;
    font-size: 18px;
    background-color: rgb(73, 210, 255);
    color: white;
    text-align: center;
}

.overlay {
    position: fixed;
    z-index: 8;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.618);
    visibility: hidden;
}

.createUserModal {
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 30%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 40px;
}

.labelInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

h4 {
    font-size: 25px;
    margin: 40px 0 10px;
    padding: 25px 0;
}

label {
    padding: 10px 0;
    align-self: flex-start;
}

input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 15px;
}

.accountCloseButton {
    font-size: 20px;
    position: absolute;
    top: -20px;
    right: -20px;
    width: 50px;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #49d2ff;
    font-weight: bold;
    color: white;
    &:hover {
        cursor: pointer;
        background-color: rgb(73, 155, 255);
    }
}

.formSubmit {
    margin: 20px 0;
    font-size: 20px;
    color: white;
    background-color: rgb(73, 210, 255);
    height: 50px;
    border: none;
    border-radius: 50px;
    width: 250px;
    &:hover{
        cursor: pointer;
        background-color: rgb(73, 155, 255);
    }
}

.loginModal {
visibility: hidden;
position: fixed;
z-index: 100;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
width: 30%;
border-radius: 40px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 18px;
}


.show {
    visibility: visible;
    opacity: 1;
}

.mainView__button {
    position: absolute;
    right: 17%;
    bottom: 10%;

    button {
        position: relative;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: center;
        background-color: rgb(73, 210, 255);
        color: white;
        &:hover {
            background-color: rgb(73, 155, 255);
            transform: scale(1.05);
            transition: .1s all;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        &:hover p {
            transform: scale(1.05);
            transition: .1s all;
        }
    }


    p {
        position: absolute;
        bottom: -60px;
        width: 250px;
        color: black;
    }
}

.mainView__button--viewCards {
    position: absolute;
    right: 5%;
    bottom: 25%;
}

footer {
    margin-top: 100px;
    height: 50vh;
    position: relative;
}

.lowerCircle {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    height: 100%;
    width: 60%;
    z-index: 2;
    background-image: linear-gradient(to right, rgba(73, 210, 255, 0.75), rgba(43,50,178,0.75)), url('../assets/bottomCircle.jpg');
    background-position: top;
    background-size: cover;
    box-shadow: 0 -14px 28px rgba(0,0,0,0.25), 0 -10px 10px rgba(0,0,0,0.22);
    border-top-left-radius: 100%;
}

// - need to add webkit-overflow-scrolling: touch;
// Still need to fix card size for scroll

// MEDIA QUERIES

@media (max-width: 1350px) {
    .mainView__button--viewCards button {
        height: 125px;
        width: 125px;
    }
    .mainView__button {
        button {
            height: 100px;
            width: 100px;
            font-size: 16px;
        }
    }
    .sideBar {
            width: 50%;
    }

    .createUserModal {
        width: 50%;
    }

    .loginModal {
        width: 50%;
    }
}

@media (max-height: 880px) {
    footer {
        margin-top: 100px;
    }
    
    .lowerCircle {

    }

    .removeSpan {
        display: none;
    }
}


@media (max-width: 870px) {
    .mainView {
        .buttonWrapper {
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }

        .headerwrapper {
            height: 100vh;
        }

        .innerCircle {
            height: 80vh;
            border-bottom-right-radius: 10%;
            border-bottom-left-radius: 10%;
        }

        .headerContentWrapper {
            display: flex;

        }

        .cardButtonWrapper {
            display: flex;
            justify-content: space-around;
            position: absolute;
            bottom: -50px;
            left: 15%;
            right: 15%;
        }

        .addCard__inputs {
            font-size: 12px;
        }

        .mainView__button {
            position: static;
        }
    }

     .createUserModal {
        width: 70%;
    }

    .loginModal {
        width: 70%;
    }

    .formatCard__scrollThrough {
        padding-top: 100px;
    }
    .formatCard__wrapper {

    }
    .lowerCircle {
        border-radius: 0;
        width: 100%;
        height: 30vh;
    }
    footer {
        margin-top: 0;
        height: 30vh;
    }
}
  
@media (max-height: 785px) {
    .addCard__title {
        margin: 10px 0;
    }

    h1 {
        margin-top: 0px;
    }
}

@media (max-height: 700px) {
    .addCard__title {
        padding: 0;
        margin-bottom: 0;
    }

    .addCard__inputsButton {
        margin: 20px 0;
    }

    .addCard__inputs {
        margin: 0;
    }
}

@media (max-width: 700px) {
    .mainView {
        h1 {
        font-size: 100px;
        margin-top: 0px;
        }
        h2 {
            font-size: 14px;
            text-align: center;
        }
        h3 {
            text-align: center;
            font-size: 24px;
        }
        
        .addCard {
            .addCard__inputsButton {
                width: 65%;
            }
        }

        .removeSpan {
            display: none;
        }
    }

    .slide-in {
            width: 70%;
        }

    .createUserModal {
        width: 80%;
    }

    .loginModal {
        width: 80%;
    }

    .formatCard__scrollThrough {
        height: 90vh;
        margin-bottom: 50px;
        min-height: 500px;
        padding-top: 50px;
        padding-left: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formatCard__scrollThrough> div {
        width: 100%;
        display: flex;
        padding-left: calc(50% - (450px / 2))
    }

    .search__wrapper {
        padding: 100px 0;
    }

    footer {
        display: none;
    }

    .card {
        width: 450px;
        align-self: center;
    }

}

@media (max-height: 620px) {
    .mainView .headerContentWrapper {
        padding-top: 100px;
    }

    .mainView .buttonWrapper {
        top: 30px;
    }
}

@media (max-width: 600px) {
    .card {
        width: 400px;
    }

    .formatCard__scrollThrough> div {
        padding-left: calc(50% - (400px / 2))
    }
}


@media (max-width: 540px) {

    .search__wrapper {
        padding-bottom: 50px;
    }

    .card {
        width: 350px;
        height: 250px;
    }

    .react-card-flip {
        min-height: 425px;
    }

    .sideBar {
        width: 100%;
        padding-left: 0;
    }

    .addCard .createCloseButton {
        right: 30px;
    }

    .formatCard__scrollThrough > div {
        padding-left: calc(50% - (350px / 2))
    }

    .mainViewButton {
        padding: 14px 25px;
        font-size: 15px;
        letter-spacing: 0px;
    }

    .close .accountCloseButton {
        right: 10px;
        top: 5px;
        width: 30px;
    }

    .loginModal {
        transform: translate(0);
        top: 10px;
        right: 10px;
        left: 10px;
        bottom: 10px;
        width: auto;
    }

    .createUserModal {
        transform: translate(0);
        top: 10px;
        right: 10px;
        left: 10px;
        bottom: 10px;
        width: auto;
    }
}


@media (max-width: 475px) {
    .mainView .headerContentWrapper {
        padding-top: 100px;
    }

    .formatCard__scrollThrough > div {
        padding-left: calc(50% - (300px / 2))
    }

    .card {
        width: 300px;
        height: 250px;
    }
}

@media (max-width: 450px) {
    .formatCard__scrollThrough > div {
        padding-left: calc(50% - (250px / 2))
    }

    #searchBar {
        padding: 15px 10px 15px 0;
    }

    .search__innerWrapper {
        transform: translateX(-5px);
    }

    .card__buttons {
        display: flex;
        align-items: center;
        position: absolute;
        justify-content: space-between;
        bottom: -80px;
        right: 0;
        left: 0;
        width: 100%;
    }

    .card__buttonWrapper {
        width: 25%;
        display: flex;
        justify-content: center;
    }

    .editButton {
        position: static;
        width: 100%;
        transform: translate(0);
    }

    .deleteButton {
        position: static;
        width: 100%;
        transform: translate(0);
    }

    .notesButton {
        position: static;
        width: 100%;
        transform: translate(0);
    }

    .goBack {
        position: static;
        width: 100%;
        transform: translate(0);
    }

    .card {
        width: 250px;
        height: 220px;
    }
}

@media (max-width: 400px) {
    .search__innerWrapper {
        width: 80%;
    }

    .card {
        width: 215px;
        height: 200;
    }

    .formatCard__scrollThrough > div {
        padding-left: calc(50% - 215px / 2);
    }
}

@media (max-width: 360px) {
    .formatCard__scrollThrough > div {
        padding-left: 50px;
    }

    .mainView h3 {
        padding-top: 25px;
        font-size: 20px;
    }
}

@media (max-width: 340px) {
    .formatCard__scrollThrough > div {
        padding-left: calc(50% - 200px / 2);
    }
    
    .card {
        width: 200px;
    }

    .card__buttons {
        width: 100%;
    }

    .card__buttonWrapper {
        width: 25%;
    }

    .cardButtonWrapper {
        .mainView__button button {
            height: 85px;
            width: 85px;
        }
    }

    .viewIcon {
        font-size: 30px;
    }

    .addIcon {
        font-size: 30px;
    }

    .mainViewButton {
        padding: 14px 25px;
        font-size: 15px;
        letter-spacing: 0px;
    }
}

@media (max-width: 330px) {
    .card {
        width: 180px;
    }

    .formatCard__scrollThrough > div {
        padding-left: calc(50% - 200px / 2);
    }
}