@font-face { font-family: CerebriSans; font-weight: bold;src: url('./../../public/fonts/CerebriSans/CerebriSans-Bold.otf');}
@font-face { font-family: CerebriSans; src: url('./../../public/fonts/CerebriSans/CerebriSans-Regular.otf');}
@font-face { font-family: Butler; font-weight: bold;src: url('./../../public/fonts/Butler/Butler_Bold.otf');}
@font-face { font-family: Butler; src: url('./../../public/fonts/Butler/Butler_Regular.otf');} 

body {
    margin: 0 auto;
    font-family: CerebriSans;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

.mainView {
    height: 100vh;
    background-size: cover;
    background-color: white;
    button {
        border-style: none;
        padding: 15px 40px;
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 50px;
        cursor: pointer;
        transition: .1s all ease-in;
    }
    h1 {
        margin-bottom: 0px;
        font-size: 150px;
        font-family: Butler;
    }
    h2 {
        font-size: 20px;
        font-weight: lighter;
        margin: 0;
    }

    h1, h2 {
        letter-spacing: 2px;
        color: #fff;
    }
    .innerCircle {
        border-bottom-right-radius: 90%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(to right, rgba(73, 210, 255, 0.75), rgba(43,50,178,0.75)), url('../assets/background.jpeg');
        position: relative;
    }

    .headerContentWrapper {
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttonWrapper {
        position: absolute;
        top: 50px;
        right: 100px;
    }

    .createAccountButton {
        background-color: white;
        color: black;
        margin-right: 20px;
        &:hover {
            color: white;
            background-color: rgb(73, 210, 255);
        }
    }

    .loginButton {
        background-color: white;
        color: black;
        &:hover {
            color: white;
            background-color: rgb(73, 210, 255);
        }
    }

    h3 {
        color: white;
        padding-top: 50px;
        font-size: 25px;
    }
}

.sideBar {
    position: fixed;
    z-index: 10;
    width: 30%;
    right: 100%;
    top: 0;
    padding: 25px;
    padding-top: 50px;
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
}

.addCard__title {
    font-size: 30px;
    padding-top: 50px;
}

.slide-in {
    position: fixed;
    transform: translateX(100%);
    transition-delay: .1s;
    transition: 0.6s ease-in all;
}

.slide-out {
    position: fixed;
    transition-delay: .1s;
    transform: translateX(-100%);
    transition: 0.6s ease-in all;
}

.addCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    .createCloseButton {
        font-size: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        height: 80px;
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: rgb(73, 210, 255);
        font-weight: bold;
        color: white;

        &:hover {
        cursor: pointer;
        background-color: rgb(73, 155, 255);
        }
    }
    .addCard__inputsButton {
        margin: 40px 0;
        font-size: 20px;
        color: white;
        background-color: rgb(73, 210, 255);
        height: 50px;
        border: none;
        border-radius: 50px;
        width: 250px;
            &:hover{
                cursor: pointer;
                background-color: rgb(73, 155, 255);
            }
    }
    p {
        letter-spacing: 1px;
        font-size: 18px;
    }
}

.iconAdjust {
    transform: translateY(-2px);
    margin-right: 20px;
}

.addIcon {
    font-size: 50px;
}

.viewIcon {
    font-size: 50px;
}

.deleteIcon {
    font-size: 25px;
}

.editIcon {
    font-size: 25px;
}

.deleteText {
    position: absolute;
    font-size: 15px;
    bottom: -30px;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

.editText {
    position: absolute;
    font-size: 15px;
    bottom: -30px;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

.addCard__titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.addCard__title {

}

.addCard__description {
    width: 95%;
}

.addCard__form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.addCard__inputs {
    width: 80%;
    margin: 20px 0;
    border: none;
    font-size: 18px;
    padding: 10px;
    background-color: transparent;
    color: black;
    border-bottom: 0.5px solid black;
}

button.addCard__inputs {
    padding: 10px 0;
    width: calc(80% + 20px)
}

.formatCard__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.formatCard__scrollThrough {
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    color: black;
    white-space: nowrap;
    padding-top: 200px;
    padding-left: calc(50% - 290px);
    flex-direction: row;
}

.react-card-flipper {
    width: 700px;
}

.cardWrapper{
    position: relative;
    margin: 0 80px;
}

.card {
    background-color: white;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 0 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    ul {
        display: flex;
        flex-direction: column;
        li {
            list-style: none;
            letter-spacing: 1px;
            font-weight: bold;
            button {
                border-style: none;
                padding: 10px 25px;
                cursor: pointer;
                &:hover {
                    background-color: rgba(73, 210, 255, 0.75);
                    color: white;
                }
            }
        }
    }

    .card__name {
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 2px;
        word-spacing: 5px;
        font-size: 18px;
    }

    .card__notes {
        white-space: normal;
    }


}

.doneEditBack {

}

.gradientLine {
    background-image: linear-gradient(to bottom, rgba(73, 210, 255, 0.75), rgba(43,50,178,0.75));
    height: 100%;
    width: 10px;
    position: absolute;
    left: 0;
}

.circleInitial {
    background-image: linear-gradient(to bottom, rgba(73, 210, 255, 0.75), rgba(43,50,178,0.75));
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: white;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    .initial {
        padding: 0;
        margin: 0;
    }
}

.goBack {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -80px;
    left: 15%;
    background-color: rgb(210, 210, 210);
    transform: translateX(-50%);
        &:hover {
            background-color: rgba(73, 210, 255, 0.75);
            color: white;
        }
        &:hover p{
            color: black;
            visibility: visible;
        }
}

.notesButton {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -80px;
    left: 15%;
    background-color: rgb(210, 210, 210);
    transform: translateX(-50%);
        &:hover {
            background-color: rgba(73, 210, 255, 0.75);
            color: white;
        }
        &:hover p{
            color: black;
            visibility: visible;
        }
}


.deleteButton {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -80px;
    left: 50%;
    background-color: rgb(210, 210, 210);
    transform: translateX(-50%);
        &:hover {
            background-color: rgba(73, 210, 255, 0.75);
            color: white;
        }
        &:hover p{
            color: black;
            visibility: visible;
        }
}

.editButton {
    position: absolute;
    bottom: -80px;
    display: flex;
    justify-content: center;
    left: 85%;
    background-color: rgb(210, 210, 210);
    transform: translateX(-50%);
        &:hover {
            background-color: rgba(73, 210, 255, 0.75);
            color: white;
        }
        &:hover p{
            color: black;
            visibility: visible;
        }
}

.search__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 100px;
    align-items: center;
}

.search__innerWrapper {
    position: relative;
    width: 300px;
}

.searchIcon {
    font-size: 30px;
    position: absolute;
    right: 0px;
    top: 20px;
    color: white;
}

#searchBar {
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding: 15px;
    font-size: 18px;
    background-color: rgb(73, 210, 255);
    color: white;
    text-align: center;
}

.overlay {
    position: fixed;
    z-index: 8;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.618);
    visibility: hidden;
}

.createUserModal {
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 30%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 40px;
}

.labelInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

h4 {
    font-size: 25px;
    margin: 0;
    padding: 25px 0;
}

label {
    padding: 10px 0;
    align-self: flex-start;
}

input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 15px;
}

.accountCloseButton {
    font-size: 25px;
    position: absolute;
    top: -35px;
    right: -35px;
    border-radius: 50%;
    height: 80px;
    width: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(73, 210, 255);
    font-weight: bold;
    color: white;
    &:hover {
        cursor: pointer;
        background-color: rgb(73, 155, 255);
    }
}

.formSubmit {
    margin: 20px 0;
    font-size: 20px;
    color: white;
    background-color: rgb(73, 210, 255);
    height: 50px;
    border: none;
    border-radius: 50px;
    width: 250px;
    &:hover{
        cursor: pointer;
        background-color: rgb(73, 155, 255);
    }
}

.loginModal {
visibility: hidden;
position: fixed;
z-index: 100;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
width: 30%;
border-radius: 40px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 18px;
}


.show {
    visibility: visible;
    opacity: 1;
}

.mainView__button {
    position: absolute;
    right: 17%;
    bottom: 10%;

    button {
        position: relative;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: center;
        background-color: rgb(73, 210, 255);
        color: white;
        &:hover {
            background-color: rgb(73, 155, 255);
            transform: scale(1.05);
            transition: .1s all;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        &:hover p {
            transform: scale(1.05);
            transition: .1s all;
        }
    }


    p {
        position: absolute;
        bottom: -60px;
        width: 250px;
        color: black;
    }
}

.mainView__button--viewCards {
    position: absolute;
    right: 5%;
    bottom: 25%;
}

footer {
    margin-top: 100px;
    height: 40vh;
    position: relative;
}

.lowerCircle {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    height: 500px;
    width: 60%;
    z-index: 2;
    background-image: linear-gradient(to right, rgba(73, 210, 255, 0.75), rgba(43,50,178,0.75)), url('../assets/bottomCircle.jpg');
    background-position: top;
    background-size: cover;
    box-shadow: 0 -14px 28px rgba(0,0,0,0.25), 0 -10px 10px rgba(0,0,0,0.22);
    border-top-left-radius: 100%;
}
